body {
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container-box {
    background-color: green;
    border-radius: 10px;
    text-align: center;
    max-width: 600px;
    padding: 20px;
}

h1 {
    border: 2px solid darkgreen;
    padding: 10px;
    color: #fff;
    padding: 20px;
    margin: 0;
    text-align: center;
}

.profile-content {
    text-align: center;
}

.profile-picture img {
    max-width: 150px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

h2 {
    margin-top: 20px;
    color: white;
}

.user-info {
    font-size: 18px;
    color: white;
}

.actions {
    text-align: center;
}

button {
    background-color: #B3A369;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #FFFFFF;
    color: #B3A369;
}
