.frame {
    /* border-style: none; */
    width: 40vw;
    height: 80%;
    /* position: absolute;
    right: 0; */
}
#open-room {
    position: absolute;
}
body {
    /* height: 100%; */
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
}

.chat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

}

.container-box {
    background-color: green;
    border-radius: 10px;
    text-align: center;
    max-width: 600px;
    padding: 20px;
}

h1 {
    border: 2px solid darkgreen;
    padding: 10px;
    color: #fff;
    padding: 20px;
    margin: 0;
    text-align: center;
}

button {
    z-index: 1;
}