body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

#board {
    display: grid;
    grid-template-columns: repeat(8, 100px);
    border: 2px solid black;
    gap: 2px;
}

.square {
    width: 100px;
    height: 100px;
}

.red {
    background-color: red;
}

.black {
    background-color: black;
}

.piece {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    margin: 7px;
}

.red-piece {
    background-color: Crimson;
}

.white-piece {
    background-color: white;
}

.white-king-piece {
    background-color: grey;
}

.red-king-piece {
    background-color: darkred;
}
