body {
    background-image:url('../../images/UNCC\ student\ union\ file.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
h1 {
    border: 2px solid darkgreen; 
    padding: 10px; 
}

.login-box {
    text-align: center;
    background-color: green; 
    color: white; 
    padding: 20px;
    border-radius: 10px;
    width: 300px; 
}

button {
    display: block;
    margin: 10px auto; 
}
