body {
    background-image:url("static/images/UNCC-student-union-file.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
h1 {
    border: 2px solid darkgreen; 
    padding: 10px; 
}

.login-box {
    text-align: center;
    background-color: green; 
    color: white; 
    padding: 20px;
    border-radius: 10px;
    width: 300px; 
}

button {
    background-color: #B3A369;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #FFFFFF;
    color: #B3A369;
}
