<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/chat.css">
</head>
<body>
    <div class="main-container">
    <div class="messages">
        <div class="message ours">
            <div class="identity">
                <p>PFP and Name Here</p>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, tempora itaque recusandae voluptate fugit ab sequi, voluptas, nobis quidem omnis alias! Voluptatibus quia quidem ab explicabo labore tenetur modi reiciendis.</p>
        </div>
        <div class="message theirs">
            <div class="identity">
                <p>PFP and Name Here</p>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In voluptates debitis repellat quam id provident voluptas laudantium at rerum maiores? Et architecto nemo nam nulla, harum laudantium odio consequatur autem?</p>
        </div>

        



    </div>
        <div id="not-messages">
            <input type="chat-box" placeholder="Enter Message Here"/>
            <button type="submit" class="send">Send Message</button>
        </div>
    </div>
</body>
</html>