<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to CheckMates</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
  

    <div class="login-box">
    <h1>Welcome 49er's to CheckMates</h1>
    <p>Where strategy meets fun!</p>

    <div class="container">
        <h2>About CheckMates</h2>
        <p>The UNC Charlotte CheckMates is a welcoming community of checkers enthusiasts. Whether you're a beginner or a seasoned player, we invite you to join us for friendly matches, competitions, and checkers-related events. Connect with fellow checkers players and have a great time playing this classic board game.</p>
    </div>

    <div class="container">
        <h2>Get Started with Checkmates</h2>
        <p>Join thousands of students who are already on board by logging in with Google.</p>
        <a href="/login"><button>Login</button></a>
    </div>
</div>
</body>
</html>
