<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/onePlayer.css') }}">
    <title>Checkers Game</title>
</head>
<body style="background:url('../static/images/uncc1.jpg'); background-size:cover; background-repeat:no-repeat">
    <div id="board"></div>
    <script src="{{ url_for('static', filename='js/onePlayer.js') }}"></script>
</body>
</html>
