<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Single Player</title>
    <link rel="stylesheet" href="../static/css/onePlayer.css">
</head>
<body>
<div class = "game-board">
    <div class="redTile"></div><div class="blackTile"> <div class="whitePiece"></div></div>
    <div class="redTile"></div><div class="blackTile"></div>
    <div class="redTile"></div><div class="blackTile"></div>
    <div class="redTile"></div><div class="blackTile"></div>

    <div class="blackTile"></div><div class="redTile"></div>
    <div class="blackTile"></div><div class="redTile"></div>
    <div class="blackTile"></div><div class="redTile"></div>
    <div class="blackTile"></div><div class="redTile"></div>

    <div class="redTile"></div><div class="blackTile"></div>
    <div class="redTile"></div><div class="blackTile"></div>
    <div class="redTile"></div><div class="blackTile"></div>
    <div class="redTile"></div><div class="blackTile"></div>

    <div class="blackTile"></div><div class="redTile"></div>
    <div class="blackTile"></div><div class="redTile"></div>
    <div class="blackTile"></div><div class="redTile"></div>
    <div class="blackTile"></div><div class="redTile"></div>

    <div class="redTile"></div><div class="blackTile"></div>
    <div class="redTile"></div><div class="blackTile"></div>
    <div class="redTile"></div><div class="blackTile"></div>
    <div class="redTile"></div><div class="blackTile"></div>

    <div class="blackTile"></div><div class="redTile"></div>
    <div class="blackTile"></div><div class="redTile"></div>
    <div class="blackTile"></div><div class="redTile"></div>
    <div class="blackTile"></div><div class="redTile"></div>

    <div class="redTile"></div><div class="blackTile"></div>
    <div class="redTile"></div><div class="blackTile"></div>
    <div class="redTile"></div><div class="blackTile"></div>
    <div class="redTile"></div><div class="blackTile"></div>

    <div class="blackTile"></div><div class="redTile"></div>
    <div class="blackTile"></div><div class="redTile"></div>
    <div class="blackTile"></div><div class="redTile"></div>
    <div class="blackTile"></div><div class="redTile"></div>

</div>
</body>
</html>

<script>
    gameBoard = [];
    for (let i = 0; i < 8; i++) {
    gameBoard[i] = [];
        for (let j = 0; j < 8; j++) {
        gameBoard[i][j] = 0;
        console.log(gameBoard[i][j]);
        }
        console.log("\n");
    }
</script>