<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" href="../static/css/profileCSS.css">
</head>
<body background="../static/images/uncc1.jpg">
    <div class="container-box">
        <h1>49er's CheckMates</h1>
        <div class="profile-content">
            <div class="actions">
            <h2>{{ user_info.name }}'s Profile Information</h2>
           <div class="actions">
                <a href="/home"><button>Home</button></a>
                <a href="inbox"><button>Messages</button></a>
                <a href="#"><button>Settings</button></a>
            </div>
           <div class="profile-picture">
                <img src="{{ user_info.profile_picture }}" alt="Profile Picture">
           </div>
           <h2>{{ user_info.name }}'s Profile Information</h2>
            <div class="user-info">
                <p>Full Name: {{ user_info.full_name }}</p>
                <p>Email: {{ user_info.email }}</p>
                <a href="/logout"><button>Logout</button></a>
            </div>
        </div>
    </div>
</body>
</html>
