<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" href="../static/css/profileCSS.css">
</head>
<body>
    <div class="container-box">
        <h1>49er's CheckMates</h1>

        <div class="profile-content">
            <div class="profile-picture">
                
                <img src="../..//" alt="Profile Picture">
            </div>
            
            <h2>{{ user_info.name }}'s Profile Information</h2>     //need to implement JS
           <div class="actions">
                <a href="./index"><button>Home</button></a>
                <a href="./inbox"><button>Messages</button></a>
                <a href="./settings"><button>Settings</button></a>

                
                <a href="/logout"><button>Logout</button></a>
            </div>

            <div class="user-info">
                <p>Full Name: {{ user_info.full_name }}</p>
                <p>User Name: {{ user_info.user_name }}</p>
                <p>Email: {{ user_info.email }}</p>
            </div>
            
           
        </div>
    </div>
</body>
</html>
