<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/settings.css">
    <script src="../static/js/settings.js"></script>
    <title>Game Settings</title>
    

  </head>

  <body style="background:url('../static/images/uncc1.jpg'); background-size:cover; background-repeat:no-repeat">

    <div class="container">

      <h1>49er's CheckMates</h1>

      <h1>User Settings</h1>
      <div class="profile-picture">
        <img src="../images/userAccount.jpg" alt="Profile Picture">
        <div class="form-group">
          <label for="profilePicture">Update Profile Picture</label>
          <input type="file" id="profilePicture" class="hidden">
          <label for="profilePicture" class="file-label">Select a file</label>
        </div>
      </div>
      <div class="form-group">
        <label for="name">username</label>
        <input type="text" id="name" placeholder="Janet_Doe_1">
      </div>
      <div class="form-group">
        <label for="username">gameID</label>
        <input type="text" id="username" placeholder="801434524">
      </div>
      <div class="edit-button">
        <button>Edit</button>
      </div>
    </div>


    <div class="edit-screen" style="display: none;">
      <h1>Edit Your Profile</h1>
      <div class="form-group">
        <label for="newName">new username</label>
        <input type="text" id="newName">
      </div>
      <div class="form-group">
        <label for="newUserID">new userID</label>
        <input type="text" id="newUserID">
      </div>
      <div class="save-button">
        <button id="saveChanges">Save</button>
      </div>
    </div>


  </body>

</html>
